/*font-family: 'PT Sans Narrow', sans-serif;
  font-family: 'Yantramanav', sans-serif;
  font-family: 'Merienda', cursive;	
  font-family: 'Peddana', serif;
*/

#contenidos{
	width: 1000px;
	height: 120;
	margin: auto;
	position: 120;
	background: orange;
	border-radius: 10px;
		}

/*etiquetas*/

body{
background-image: url(../img/piso.jpg);
background-repeat: no-repeat;
background-size: cover;
}

h1{
font-family: 'Peddana', serif;
color: white;
margin: -right: 10px;
font-size: 30px;
text-align: justify;	
}

h2{
font-family: 'Merienda', cursive;
color: blue;	
margin: right: 20px;
font-size: 19px;
text-align: justify;: 30px;	
}

h3{
*font-family: 'PT Sans Narrow', sans-serif;
color: gray;	
font-size: 16px;
text-align: center;: 20px;	
}

header{
	font: color:black;
	width: 1000px;
	height: 80px;
	background: rgba(255,89,0,0);
	}

nav{
	width: 1000px;
	height: 30px;
	background: rgba(242,284,13,0);
	border-radius: 10px;
}

ul{
	margin: 300;
	padding-top: 30px;
	border-radius: 3px;
}

li{
	float: center;
	list-style-type: none;
	padding: 5px;
	background: red;
	margin: 2px;
	border-radius: 10px;
	box-shadow: 0 0 10px black inset;
}

section{
	width: 650px;
	background: gray;
	height: 470px;
	float: left;
	margin-top: 20px;
	border-radius: 10px;
}

aside{
	width: 700px;
	background: rgba(102,255,255,0);
	height: 360px;
	float: left;
	margin-left: 10px;
	margin-top: 10px;
	border-radius: 10px;
}

footer{
width: 700px;
height: 10px;
background: rgba(77,25,0,0);
float: right;
margin-top: 20px;
border-radius: 10px;
margin-top: 20px;
}	

p{
	font-size: 16px;
	font-weight: bolder;
	line-height: 22px;
	padding: 10px;
	text-align: justify;
}

li{
	float: left;
	list-style-type: none;
	padding: 5px;
	background: orange;
	margin: 2px;
	border-radius: 15px;
	box-shadow: 0 0 10px black inset;
}

/*Clases*/

.ancho_menu_home{width: 900px;}
.ancho_menu_paginas{width: 970px;}

.menulink{ color: white; text-decoration: none;}
.menuvisited{ color: white; text-decoration: none;}
.menuhover{ color: white; text-decoration: none; text-shadow: 0 0 20px white;} 
.menuactive{padding: 5px; color: white; text-decoration: none;}







